@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Small view */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem auto;
    padding: 1rem;
    color: #fff;
    background-color: #0D1117;
}

h1, h2, h3 {
    border-bottom: 1px solid #30363D;
}

a {
    text-decoration: none;
    color: #3CA6FF;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;   
    border: 1px solid #30363D;
}

input, button {
    background-color: transparent;
    border: 1px solid #30363D;
    padding: .4rem;
    color: #fff;
    min-width: 2rem;
}

hr {
    border-top: none;
    border-color: #30363D;
}

li {
    margin-top: 1rem;
}

footer {
    margin-top: 2rem;
}

/* Medium view */
@media only screen and (min-width: 40rem) {
body {
    max-width: 75%;
    border: 1px solid #30363D;
    border-radius: 6px;
    padding: 2rem;
}
}

/* Large view */
@media only screen and (min-width: 64rem) {
body {
    max-width: 50%;
}
}