body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    color: #011c01;
    background-color: #c9ffc9;
}

h1 {
    background: rgb(1,28,1);
    background: linear-gradient(90deg, rgba(1,28,1,1) 0%, rgba(13,68,13,1) 50%, rgba(1,27,1,1) 100%);
    padding: 4rem;
    text-align: center;
    margin: 0;
    color: #fff;
    font-size: 3rem;
    box-shadow: 1px 1px 10px #000;
}

img {
    width: 100%;
    height: auto;
}

.content {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.backBtn {
    position: relative;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: #042704;
    color: #fff;
    margin: 1rem 0;
    cursor: pointer;
}

.light {
    margin: 3rem 0;
    text-align: center;
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.light h2 {
    text-align: center;
    font-size: 2rem;
    grid-column: span 2;
}

.light img {
    position: relative;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.light .infoSmall {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #c9ffc9;
}

.dark h2 {
    text-align: center;
    font-size: 2rem;
}

.dark div {
    margin: 0 1rem;
}

.dark h3 {
    font-size: 1.5rem;
}

.hikeStyles ul {
    margin: .5rem 0;
}

.hikeStyles form {
    margin: .5rem 0;
}

.hikeStyles form input, .comments form input {
    border: none;
    padding: .5rem;
}

.hikeStyles form button, .comments form button {
    border: none;
    padding: .5rem;
    background-color: #011c01;
    color: #fff;
    cursor: pointer;
}